:root {
    --bg-color: #d9d9dd;
    --inverted-bg-color: #220b87;
    --primary-color: #2909fe;
    --secondary-color: #0f57ff;
    --inverted-primary-color: #64c952;
    --inverted-secondary-color: #0c8e0c;

    /* Skeleton */
    --skeleton-color: #fff;
    --skeleton-shadow: #09012a2c;

    /* Code */
    --code-bg: #fff;

    /* Card */
    --card-bg: #ceced5;

    /* Listbox */
    --listbox-bg: #ceced5;
}
