.Overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: var(--overlay-color);
    z-index: var(--overlay-z-index);
}
